.cimg{
    margin: auto;
    width: 30%;
}
.carousel-inner{
    margin-top: 30px;
    margin-bottom: 30px;
}
.title1{
    padding-left: 20px;
}

.content1{
    padding-left: 20px;
    color: #343434;
}